//variables
$navbar-color: rgb(175, 225, 245);
$font: monospace;
$fontsz:24px;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: $font;
    font-size:$fontsz;
    background-color:whitesmoke ;
}
.nav-bar{
    height: 130px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background:	url(https://images.pexels.com/photos/3377405/pexels-photo-3377405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center;     
	background-size: cover;
	border-bottom: 1px solid rgba(255,255,255, 0.4);
}
.left-img{
    display: flex;
    align-items: center;
    justify-content:center;
    img{
        width: 60px;
       height: 60px;
    }
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    position: relative;
    input{
        width: 100%;
        padding-left: 30px;
        outline: none;
        height: 36px;
        border:1px solid black;
        border-radius: 10px;
        background-color: rgba(255,255,255, 0.5);
        &:hover{
            background-color:rgba(255,255,255, 0.7);
        }
    }
    a{
        position: absolute;
        left: 7px;
        top:48px;
        i{
            font-size: 20px;
            color:black;
        }
    }
}
.right-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    a{
        i{
            font-size: 40px;
            color:black;
        }
    }
}
.main-container{
   display: flex;
   margin-top:50px;
   margin-bottom: 50px;
}
.side-bar{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 100px;
    margin-top: 90px;
    button{
        text-decoration: none;
        padding: 15px;
        color: rgba(0,0,0, 0.8);
        width: 300px;
        text-align: center;
       margin-bottom: 10px;
       border-radius: 0 15px 15px 0;
       border:1px solid rgba(0,0,0, 0.8);
       box-shadow: 4px 5px 5px rgba(0,0,0, 0.5);
       transition: 300ms all;
       background-color: rgba(0,0,0, 0.2);
       font-size:$fontsz;
       font-family: monospace;
       &:hover{
        background-color: rgba(255,255,255, 0.7);
        box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
        transform:translateY(-3px);
       }
    }
}
.form{
    margin: auto;
    width: 1000px;
    P{
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
        letter-spacing: 50px;
        margin-left: 50px;
    }
        form{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        background-color: rgba(0,0,0,0.1    );
        border-radius: 20px;
        padding: 50px;
        width: 100%;
        box-shadow: 4px 7px 7px rgba(0,0,0, 0.5);
        border:1px solid black;

        input{
            border: none;
            margin-bottom: 5px;
            background-color: rgba(0,0,0,0.0);
            border-bottom: 1px solid black;
            outline: none;   
            font-size: 16px;
            width: 100%;
        }
        label{
            margin-bottom: 10px;
        }
        textarea{
            background-color: rgba(0,0,0,0.1);
            width: 100%;
            margin-top: 5px;
            height: 160px;
        }
        button{
            margin-top: 10px;
            height: 50px;
            border-radius: 10px;
            background-color: rgba(0,0,0, 0.2);
            font-size: 20px;
            box-shadow: 4px 5px 5px rgba(0,0,0, 0.5);
            &:hover{
                background-color: rgba(0,0,0, 0.1);
            }
        }
        select{
            background-color: rgba(0,0,0,0.1);
        }
        .radio{
            margin: 10px 0;

            input{
                opacity: 0.5;
            }
        }  
    }
}
.content{
    width: 100%;
    margin-right: 70px;
    .content-title{
       margin-bottom: 30px;
        margin-left:50px;
        text-align: center;
        p{
            font-size: 40px;
            letter-spacing: 50px;
        }
    }
}
//Cards with grid system
.post-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}
.post{
    width: 100%;
    padding: 10px;
    border:2px solid black;
    border-radius: 20px;
    box-shadow: 4px 7px 7px rgba(0,0,0, 0.5);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    &:hover{
        background-color: rgba(255,255,255, 0.5);
    }
    
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        img{
            width: 100%;
            border-radius: 10px;
        }  
    }
    .title{
        text-align: center; 
        padding-top: 15px;
    p{
        text-transform: uppercase;
    }
    }
    .desc{
        font-size: 14px;
        text-indent:20px;
        text-align: justify;    
        padding: 15px;
        p{
            
        }
    }
    .crdbtn{
   text-align: center;
        
        .crdbtn_b{
            font-size: 15px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px;
            text-decoration: none;
            color: black;

        }
    }
}
.hidden{
    visibility: hidden;
}
//hidden modal
.modal{
    display: none;
    width: 50%;
    height: 800px;
    background-color:rgba(0,0,0, 0.9);
    z-index:5;
    position: fixed;
    top:5%;
    left:25%;
    border-radius: 10px;
    padding: 20px;  
    a{
        position:absolute;
        top:10px;
        right: 15px;
        text-decoration: none;
        color:white;      
    }
    .modal-content{
        position: relative;
        p{ 
            color: white;
            padding:30px;
            margin:30px;           
        }
    }
}

@media screen and(max-width:1000px){
    .side-bar{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
        button{
            border-radius: 5px;
            width: 100%;
            box-shadow: 0 5px 5px rgba(0,0,0, 0.5);
        }  
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .form{
        width: auto;
        margin: 0 20px;
    }
    .post-wrapper{
        width: auto;
        margin:0 20px;
    }
    .search-bar{
        margin: 0 15px;
    }
    .content{
        .content-title{
            p{
                font-size: 24px;
            }
        }
    }
}
